<%- include('../includes/head') %>
<%- include('../includes/nav') %>

<main>
    <form action="/admin/<% if (editing) { %>edit-product <%} else { %>add-product<% } %>" method="POST" class="add-product-form">
        <div class="form-group">
            <label for="title">Product Title</label>
            <input type="text" id="title" name="title" value="<% if (editing) { %><%= product.title %><%} %>" placeholder="Enter product title" required>
        </div>
        <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input type="text" id="imageUrl" name="imageUrl" value="<% if (editing) { %><%= product.imageUrl %><%} %>" placeholder="Enter image URL" required>
        </div>
        <div class="form-group">
            <label for="price">Price ($)</label>
            <input type="number" id="price" name="price" value="<% if (editing) { %><%= product.price %><%} %>" step="0.01" min="0" placeholder="Enter price" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" rows="3" placeholder="Enter product description" required><% if (editing) { %><%= product.title %><%} %></textarea>
        </div>
        <% if (editing) { %>
            <input type="hidden" name="productId" value="<%= product.id %>">
        <% } %>
        <button type="submit"><% if (editing) { %> Update Product <%} else { %>Add Product<% } %></button>
    </form>
</main>

<%- include('../includes/end') %>
